.right-child img{
    height: 120px;
    width: 130px;
}
.developerr img{
    height: 80px;
    
}
.developerr h4{
    font-weight: 600;
}

.btn-home{
    background-color: #2a56ff;
    color: #fff;
    border-radius: 20px;
   padding: 7px 13px;
    margin: 10px;
    font-size: 16px;
    border: none;
}
.btnb{
    padding: 7px 35px;
}
.btn-home:hover{
    background:linear-gradient(90deg, #160042, #753a88);
    color: white ;
}
.tech img{
    height: 220px;
    width: 210px;
}
.left-child {
    background: linear-gradient(90deg, #160042, #753a88);
    border-radius: 10px;
    padding: 20px;
}
.image img{
    height: 85px;
}

.style img{
    height:15px;
    width: 120px;
}
.pics img{
    height:120px;
    width: 120px;
}
.pics h4{
       font-weight: 600;
}

.iges img{
    height: 170px;
    width: 180px;
}
.picsss img{
    height: 45px;
}
.picc img{
    height: 400px;
}
.lastimg img{
    height: 260px;
}