.navbar-brand{
    font-size: 44px;
    color:white;
    
}
.navbar-brand:hover{
    color: black;
}
.navbar-nav{
    border: 1px solid white;
    border-radius: 40px;
    padding: 15px 6px;
}
.nav-link-active{
    color: white;
   margin: 0px 14px;   
    font-size: 16px;
    text-decoration: none;
}

.btn {
    background-color: #2a56ff;
    color: white;
    font-size: large; 
    border-radius: 21px;
   
}
.btn:hover{
background-color: black;
color:blue;
}
